main {
  width: 1216px;
  margin-inline: auto;
}

.destaques img {
  height: 100%;
  object-fit: cover;
}

.destaques {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 40px;
  gap: 16px;
  margin-inline: auto;
  margin-bottom: 80px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 4px;

  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(
      to top,
      rgba(2, 6, 23, 1) 0%,
      rgba(2, 6, 23, 0) 100%
    );
    inset: 0;
    top: 50%;
  }

  .card-txt-1 {
    position: absolute;
    inset: 0;
    top: 65%;
    padding-inline: 24px;
  }

  .card-txt-2{
    position: absolute;
    inset: 0;
    top: 105px;
    margin-inline: 12px;
    word-break: break-all;


    p{
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 4%;
        text-transform: uppercase;
    }
  }
}
